@model Application.ViewModels.CreateInvoiceVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Create Inv";

}
<form class="form-group" method="post" asp-action="Create">
    <div class="form-control">
        <label asp-for="InvoiceNum">InvoiceNum</label>
        <input type="number" placeholder="Invoice Number" asp-for="InvoiceNum" />
    </div>
    <div class="form-control">
        <label asp-for="Date">InvoiceDate</label>
        <input type="date" placeholder="Invoice Date" asp-for="Date" />
    </div>
    <div class="form-control">
        <label asp-for="InvoiceNum">Customer</label>
        <input placeholder="Customer Name" asp-for="Customer" />
    </div>
    <div class="form-control">
        <label asp-for="PaymentMethod">PaymentMethod</label>
        <input placeholder="PaymentMethod" asp-for="PaymentMethod" />
    </div>
    <div class="form-control">
        <label asp-for="Description">Description</label>
        <textarea placeholder="Description" asp-for="Description">
        </textarea>

    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
